<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>@ViewData["title"] - Admin Areas</title>
	@* css  sweet alert: nó sẽ hiện của sổ nhỏ thông bão giữa màn hình *@
	<link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.14.0/dist/sweetalert2.min.css
" rel="stylesheet">

	@* đg dẫn CSS để sd databasetable JS *@
	<link href="//cdn.datatables.net/2.1.7/css/dataTables.dataTables.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/buttons/3.1.2/css/buttons.dataTables.css" rel="stylesheet">

	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/css/font-awesome.min.css" rel="stylesheet">
	<link href="~/css/prettyPhoto.css" rel="stylesheet">
	<link href="~/css/price-range.css" rel="stylesheet">
	<link href="~/css/animate.css" rel="stylesheet">
	<link href="~/css/main.css" rel="stylesheet">
	<link href="~/css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
	<link rel="shortcut icon" href="images/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<header id="header">
		<!--header-->
		<div class="header_top">
			<!--header_top-->
			<div class="container">
				<div class="row">

				</div>
			</div>
		</div><!--/header_top-->

		<div class="header-middle">
			<!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/logo.png" alt="" /></a>
						</div>
						<div class="btn-group pull-right">


						
						</div>
					</div>
				
				</div>
			</div>
		</div><!--/header-middle-->

		<div class="header-bottom">
			<!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse"
									data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a asp-action="Index" asp-controller="Home" class="active">Home</a></li>
								<li><a asp-action="Index" asp-controller="Slider" >Manage Slider</a></li>
							
								<li><a asp-action="Index" asp-controller="Product">Manage Product</a></li>
								<li><a asp-action="Index" asp-controller="Shipping">Manage Shipping</a></li>
								<li><a asp-action="Index" asp-controller="Category">Manage Category</a></li>
								<li><a asp-action="Index" asp-controller="Brand">Manage Brand</a></li>
								<li><a asp-action="Index" asp-controller="User">Manage User</a></li>
								<li><a asp-action="Index" asp-controller="Role">Manage Role</a></li>
								<li><a asp-action="Index" asp-controller="Order">Manage Order</a></li>
								<li><a asp-action="Index" asp-controller="Contact">Manage Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search" />
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	<section>
		<div class="container">
			<div class="row">
				@Html.Partial("_NotificationPartial")

				@RenderBody()
			</div>
		</div>
	</section>

	<footer id="footer"><!--Footer-->

	</footer><!--/Footer-->



	<script src="~/js/jquery.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.scrollUp.min.js"></script>
	<script src="~/js/price-range.js"></script>
	<script src="~/js/jquery.prettyPhoto.js"></script>
	@* đg dẫn JS để sd databasetable JS *@
	<script src="//cdn.datatables.net/2.1.7/js/dataTables.min.js"></script>
	@* ta thêm 1 số đg dẫn để hiển thị datatable nâng cao hơn: *@
	<script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.dataTables.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>



	<script src="~/js/main.js"></script>
	<script src="~/backend/js/site.js"></script>
	@* JS cho  SWEET ALERT *@
	<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.14.0/dist/sweetalert2.all.min.js
"></script>

		<script>
			//đây là hàm sweet alert ta lấy từ trang web đó 
		$(function () {
    var message = '@TempData["success"]';
    if (message != '')
        Swal.fire({
            title: message,  // tiêu đề này lấy từ TempData
            width: 600,
            padding: "3em",
            color: "#716add",
            // ảnh nền của cửa sổ thông báo
					background: "#fff url('https://media.giphy.com/media/xUOwGfV7UYp0E6cb1m/giphy.gif?cid=ecf05e4799wncf9rdb6y56d66lf1iqvv9b097cx0z8xgl2t0&ep=v1_gifs_search&rid=giphy.gif&ct=s')",
            // gif để cho nó chuyển động và đặt ở góc trên bên trái: ta vào trang giphy.com để chọn gift 
                       //cái gift này cũng hay  url("https://media.giphy.com/media/pT1e2ymv7mMOM0h2lT/giphy.gif?cid=790b761137qndtkhhfhif3l8acqj6wt95baxbsg3a3u2305w&ep=v1_gifs_search&rid=giphy.gif&ct=s")
            backdrop: `rgba(0,0,123,0.4)
							   url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaG55YWgxbW9vNzJpeWhvODAxbTZtbWtjOXRpd3FnNDhoZG5qMGdwMyZlcD12MV9naWZzX3NlYXJjaCZjdD1z/ZE5DmCqNMr3yDXq1Zu/giphy.gif")
                       left top
                       no-repeat`,
            // Thu nhỏ kích thước gif
            customClass: {
                popup: 'custom-swal'
            }
        });
			// Phát nhạc khi SweetAlert xuất hiện
			var audio = new Audio('/media/Rick-Roll-Sound-Effect.mp3');
			audio.play();
});

		</script>


	@* ta dùng await: bất đồng bộ: khi ta khởi chạy 1 dự án nó sẽ chạy các file JS ở trên trc, còn đoạn code JS của các trang sẽ chỉ chạy khi ta mở đến trang đó  
		-nó sẽ render thẻ section có script ,chạy đoạn code trong đó 

	*@

	@await RenderSectionAsync("Scripts", required: false);
</body>

</html>