@{
	var currentUrl = Url.ActionContext.HttpContext.Request.Path;
}

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<h5>Sort by</h5>
			<select class="form-control" id="sort_by">
				<option>---------------</option>
				<option value="@currentUrl?sort_by=price_increase">Prices increase</option>
				<option value="@currentUrl?sort_by=price_decrease">Prices decrease</option>
				<option value="@currentUrl?sort_by=price_newest">Latest</option>
				<option value="@currentUrl?sort_by=price_oldest">Oldest</option>
			</select>
		</div>
		<div class="col-md-5">
			<h5>Sort by price</h5>
			<form asp-action="Index" asp-controller="Category">
				<p>
					<label for="amount">Price range:</label>
					<input type="text" id="amount" readonly="" style="border:0; color:#f6931f; font-weight:bold;">
				</p>
				@*thêm btn-locgia để sử dụng ajax lọc giá*@
				<div id="slider-range"></div>
				<button type="submit" name="logia" data-current_url="@currentUrl" class="btn btn-danger btn-locgia">Filter</button>

			</form>
		</div>
	</div>
</div>

