<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<a href="d:\fullstack_eshopping_backup\eshopping\views\shared\_validationscriptspartial.cshtml">d:\fullstack_eshopping_backup\eshopping\views\shared\_validationscriptspartial.cshtml</a>