@model AppUserModel
@{
    ViewData["title"] = "Edit User";
}
<h4>Edit User</h4>

@* form them sp: để mở trang này : ta vào đg dẫn https://localhost:7135/admin, sau đó bấm add product để chuyển sang trang thêm sp *@
<div class="col-md-9">
    <form asp-action="Edit" enctype="multipart/form-data">
        @* nó sẽ lấy id gửi qua edit trong usercontroller  *@
        <input type="hidden" asp-for="Id" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label>UserName</label>
            @* ta thêm required tức là ko đc bỏ trống input *@
            <input asp-for="UserName" required class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input asp-for="Email" required class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Phone Number</label>
            <input asp-for="PhoneNumber" required class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>PassWord</label>
            <input asp-for="PasswordHash" readonly required class="form-control" />
            <span asp-validation-for="PasswordHash" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Roles</label>
            <select asp-for="RoleId" class="form-control" asp-items="ViewBag.Roles">
            </select>
            <span asp-validation-for="RoleId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button class=" btn btn-primary">Update</button>
        </div>
    </form>
    <a asp-action="Index">Back to List User</a>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @* ta se cài ckEDITOR4 để có thể chỉnh sửa cỡ chữ, kiểu chữ trong phần description(mô tả).
    giống như ta nhúng word vào trang web vậy, ng dùng có thể trang trí chữ trong phần description
Lưu ý cái này chỉ AD cho texarea thôi  *@

}
